.text2{
    padding: auto;
    background-color:#b2c6f3 ;
     
    font-size: 20px;
    font-weight:500;
    margin-bottom: 30px;
    position: center;
    margin-top: 20px;
    font-family:sans-serif;
    
    
}