
<div class="container ">
    <div class="row mt-4">
        <div  class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 pt-4 ">
            <div class="aboutDesc   pt-4  text-light"  style="text-align:center">
               <h1 style="font-size:60px ;">About Us</h1>
            </div>
        </div>
        <div  class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 pt-4">
            <div class="text2 pt-2 text-dark " style="letter-spacing: 3px;" >
                <p >The software arm of the globally trusted NeST Group of companies. We combine our Specialized Manufacturing Services, Engineering Design and Software Services under one roof to provide transformative turnkey solutions to customers.the software arm of the globally trusted NeST Group of companies.We combine our Specialized Manufacturing Services, Engineering Design and Software Services under one roof to provide transformative turnkey solutions to customers.the software arm of the globally trusted NeST Group of companies.</p> <p> We combine our Specialized Manufacturing Services, Engineering Design and Software Services under one roof to provide transformative turnkey solutions to customers.the software arm of the globally trusted NeST Group of companies. We combine our Specialized Manufacturing Services, Engineering Design and Software Services under one roof to provide transformative turnkey solutions to customers.
                    Our purpose and principles have shaped us into who we are today and they enable us to strive for greater heights. Every decision we make is closely aligned with our principles. These help us raise our bar, dive deep into challenges to achieve game-changing outcomes.Delivering top-notch industry specific solutions to customers ranging from small and medium to Fortune 500 enterprises.</p> <p>  We primarily focus on:
                    Transportation, Healthcare, Power & Industrial, BFSI and Aerospace.Our ability to coordinate globally distributed software engineering resources through robust operational processes and consistent project management methods enable us to rapidly mobilize resources wherever and whenever required.Business Transformation.
                 
                </p>
            </div>
        </div>
    </div>
</div>
       
   

